---
---

@import "{{site.theme}}";

header h1::before {
	content: '';
}

header h1 {
	margin: 0 0 0 0;
}

header #head-info {
	float: left;
	max-width: 60%;
	overflow: auto;
}

header {
	overflow: auto;
}

.links {
	max-width: 25%;
	float: right;
}

.links li {
  list-style: none;
}

ul.homepage-items {
	padding-left: 0;
}

.homepage-items li {
	overflow: auto;
	font-size: 130%;
	list-style: none;
	margin-bottom: 20px;
	display: block;
}

.homepage-items li p {
	vertical-align: middle;
}

.homepage-items img {
	max-width: 45%;
}

.homepage-items .img-left {
	float: left;
	padding: 0 20px 0 0;
}

.homepage-items .img-right {
	float: right;
	padding: 0 0 0 20px;
}
