---
---

@import "{{site.theme}}";

header h1::before {
	content: '';
}

header h1 {
	margin: 0 0 0 0;
}

header #head-info {
	float: left;
	max-width: 80%;
}

header {
	overflow: auto;
}

.links {
	float: right;
}

.links li {
  list-style: none;
}

