---
---

@import "{{site.theme}}";

body {
  padding-bottom: 60px;
}

header {
  background-image: url('{{ 'assets/images/cursewords-tile.jpg' | relative_url }}');
  background-repeat: repeat;
  border-bottom: 1px dashed #2ef528;
}

h1, h2, h3, h4, h5, h6 {
  color: #2ef528;
}

header h1::before {
  content: '';
}

header h1 {
  color: #2ef528;
  margin: 0 0 0 0;
}

header h2 {
  color: #aaa;
}

header #head-info {
  background: black;
  max-width: 60%;
  overflow: auto;
  float: left;
}

header {
  overflow: auto;
}

.links {
  max-width: 25%;
  float: right;
}

.links li {
  list-style: none;
}

.home-content section {
  overflow: auto;
  font-size: 130%;
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.home-content section.img-left {
  flex-direction: row;
}

.home-content section.img-right {
  flex-direction: row-reverse;
}

.home-content section img {
  max-width: 45%;
}


@media (max-width: 650px) {
  .home-content section {
    display: block;
  }
  .home-content section img {
    max-width: 100%;
  }
}
